
#wrapper {
    width: 1000px;
    margin: auto;
}

/*Starts nav style */
.bg-light {
    background-color: #ffffff!important;
    box-shadow: 0px 0px 5px #606a8c;
    margin-bottom: 70px;
}

.navbar-light .navbar-brand {
    color:#e0b1d0;
    font-family: 'Poppins', sans-serif;
    margin-right: 350px;
}

.navbar-light .navbar-nav .nav-link {
    color:#606a8c;
    font-family: 'Poppins', sans-serif;
    
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#e0b1d0;
    font-family: 'Poppins', sans-serif;
    
}

/*Starts about me style */
.card {
    border:none;
    font-family: 'Poppins', sans-serif;
}

.card-body {
    width: 675px;
    color: #606a8c;
    padding: 15px;
    margin-left: 12px;
}

.card-title {
    color: #e0b1d0;
    font-weight: bolder;
    font-size: 18px;
}

.card-img {
    padding: 15px 0px 10px 15px;;
}

.card-text {
    font-size: 14px;
    text-align: justify;
}

/*Starts carrousel style */
#carouselExampleControls {
    width: 500px;
    margin: 0 auto;
}

.concerts_thumb:hover {
}
